.App {
  text-align: center;
}

.App-header {
  font-family: 'Hanalei Fill', cursive;
  background-color: pink;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: salmon;
}
