.Snake-board {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.Snake-row {
  display: flex;
  flex-direction: row;
}

.tile {
  width: 25px;
  height: 25px;
  border: 1px solid olive;
}

.blank {
  background: white;
}

.snake {
  background: green;
}

.food {
  background: pink;
}

.food::after {
  content: "🍎";
}

.Game-over {
  position: absolute;
  font-family: 'Hanalei Fill', cursive;
  font-size: 50px;
  color: red;
  background-color: aqua;
  font-weight: bold;
  padding: 10px;
}
