.Snake-board {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.Snake-row {
  display: flex;
  flex-direction: row;
}

.tile {
  width: 25px;
  height: 25px;
  border: 1px solid olive;
}

.tile.small {
  width: 10px;
  height: 10px;
}

.blank {
  background: white;
}

.snake {
  background: green;
}

.obstacle {
  background: olive;
}

.food {
  background: pink;
}

.food::after {
  content: "🍎";
}

.Board-size {
  padding: 10px;
}

.Game-over {
  position: absolute;
  font-family: 'Hanalei Fill', cursive;
  font-size: 50px;
  color: red;
  background-color: aqua;
  font-weight: bold;
  padding: 10px;
}

.Start-game {
  font-size: 20px;
  font-family: 'Hanalei Fill', cursive;
  color: pink;
  border-radius: 10px;
  background-color: black;
  letter-spacing: 2px;
  padding: 10px;
  margin: 20px;
}

.Error {
  color: red;
}
